@page
@model MyInvoices.Pages.Invoices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvoiceDet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDet.InvId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDet.InvId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDet.ProdId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDet.ProdId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDet.Units)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDet.Units)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDet.Sales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDet.Sales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDet.TotalSalesTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDet.TotalSalesTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDet.Gross)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDet.Gross)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvoiceDet.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
